@font-face {
  font-family: 'Mogul Acquest Script';
  src: url('../../../../assets/fonts/Mogul-Acquest-Script/Mogul-Acquest-Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Z';
  src: url('../../../../assets/fonts/Mogul-Z/Mogul-Z.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Urnaa';
  src: url('../../../../assets/fonts/Mogul-Urnaa/Mogul-Urnaa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Moonlight';
  src: url('../../../../assets/fonts/Mogul-Moonlight/Mogul-Moonlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul MonumentoTitulGr';
  src: url('../../../../assets/fonts/Mogul-MonumentoTitulGr/Mogul-MonumentoTitulGr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Liana';
  src: url('../../../../assets/fonts/Mogul-Liana/Mogul-Liana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Kilkenny Initial Cap';
  src: url('../../../../assets/fonts/Mogul-Kilkenny-Initial-Cap/Mogul-Kilkenny-Initial-Cap.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mogul Kaliakra';
  src: url('../../../../assets/fonts/Mogul-Kaliakra/Mogul-Kaliakra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Kabel Ultra';
  src: url('../../../../assets/fonts/Mogul-Kabel-Ultra/Mogul-Kabel-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul JargonA';
  src: url('../../../../assets/fonts/Mogul-JargonA/Mogul-JargonA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Heinrich Script';
  src: url('../../../../assets/fonts/Mogul-Heinrich-Script/Mogul-Heinrich-Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Acquest Script';
  src: url('../../../../assets/fonts/Mogul-Acquest-Script/Mogul-Acquest-Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Globus';
  src: url('../../../../assets/fonts/Mogul-Globus/Mogul-Globus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Garamond Narrow';
  src: url('../../../../assets/fonts/Mogul-Garamond-Narrow/Mogul-Garamond-Narrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mogul Garamond Narrow';
  src: url('../../../../assets/fonts/Mogul-Garamond-Narrow/Mogul-Garamond-Narrow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Mogul-Garamond-Narrow';
  src: url('../../../../assets/fonts/Mogul-Garamond-Narrow/Mogul-Garamond-Narrow-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Globus';
  src: url('../../../../assets/fonts/Mogul-Globus/Mogul-Globus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Futuris';
  src: url('../../../../assets/fonts/Mogul-Futuris/Mogul-Futuris.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul-Futuris';
  src: url('../../../../assets/fonts/Mogul-Futuris/Mogul-Futuris-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Futuris';
  src: url('../../../../assets/fonts/Mogul-Futuris/Mogul-Futuris-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Futuris';
  src: url('../../../../assets/fonts/Mogul-Futuris/Mogul-Futuris-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Mogul Futura Condensed';
  src: url('../../../../assets/fonts/Mogul-Futura-Condensed/Mogul-Futura-Condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Eraser';
  src: url('../../../../assets/fonts/Mogul-Eraser/Mogul-Eraser.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Down';
  src: url('../../../../assets/fonts/Mogul-Down/Mogul-Down.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Dolores';
  src: url('../../../../assets/fonts/Mogul-Dolores/Mogul-Dolores.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Delphian';
  src: url('../../../../assets/fonts/Mogul-Delphian/Mogul-Delphian.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mogul-Def-Writer';
  src: url('../../../../assets/fonts/Mogul-Def-Writer/Mogul-Def-Writer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul CrackMan';
  src: url('../../../../assets/fonts/Mogul-CrackMan/Mogul-CrackMan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mogul Cooper';
  src: url('../../../../assets/fonts/Mogul-Cooper/Mogul-Cooper.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Cooper';
  src: url('../../../../assets/fonts/Mogul-Cooper/Mogul-Cooper-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Compo Shadow';
  src: url('../../../../assets/fonts/Mogul-Compo-Shadow/Mogul-Compo-Shadow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Bruskovaya';
  src: url('../../../../assets/fonts/Mogul-Bruskovaya/Mogul-Bruskovaya.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Bodoni';
  src: url('../../../../assets/fonts/Mogul-Bodoni/Mogul-Bodoni.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Bodoni';
  src: url('../../../../assets/fonts/Mogul-Bodoni/Mogul-Bodoni.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Bodoni';
  src: url('../../../../assets/fonts/Mogul-Bodoni/Mogul-Bodoni-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Bodoni';
  src: url('../../../../assets/fonts/Mogul-Bodoni/Mogul-Bodoni-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Bodoni';
  src: url('../../../../assets/fonts/Mogul-Bodoni/Mogul-Bodoni-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Mogul BlackGrotesk';
  src: url('../../../../assets/fonts/Mogul-BlackGrotesk/Mogul-BlackGrotesk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Bankir-Retro';
  src: url('../../../../assets/fonts/Mogul-Bankir-Retro/Mogul-Bankir-Retro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Assuan';
  src: url('../../../../assets/fonts/Mogul-Assuan/Mogul-Assuan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Arial';
  src: url('../../../../assets/fonts/Mogul-Arial/Mogul-Arial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Arial';
  src: url('../../../../assets/fonts/Mogul-Arial/Mogul-Arial-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Arial';
  src: url('../../../../assets/fonts/Mogul-Arial/Mogul-Arial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Arial';
  src: url('../../../../assets/fonts/Mogul-Arial/Mogul-Arial-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Arial';
  src: url('../../../../assets/fonts/Mogul-Arial/Mogul-Arial-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mogul Arial';
  src: url('../../../../assets/fonts/Mogul-Arial/Mogul-Arial-Black-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mogul Adine Kirnberg';
  src: url('../../../../assets/fonts/Mogul-Adine-Kirnberg/Mogul-Adine-Kirnberg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
