.SlideViewContainer {
  max-height: none;
  margin-top: 0;
}

.StepSlideContainer {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#editor_container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

#slide_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#slide {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 0px 20px, rgba(0, 0, 0, 0.18) 0px 0px 6px;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.center-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-effects {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 2px 5px;
  z-index: 90000;
  box-shadow: 2px 2px 7px -1px #4a4a4a;
}

.frame-filter {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -120%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 5px;
  box-shadow: 2px 2px 7px -1px #4a4a4a;
  padding: 5px;
  background: #eee;
  .ant-slider {
    margin: 4px 2px;
  }
  .ant-slider-track {
    background-color: #4a4a4a;
  }
}
.image-filter {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 5px;
  box-shadow: 2px 2px 7px -1px #4a4a4a;
  padding: 5px;
  background: #eee;
  .ant-slider-track {
    background-color: #4a4a4a;
  }
  .filters {
    overflow-x: auto;
    display: flex;
    width: 100%;
  }
  .row {
    display: flex;
    margin: 2px;
    b {
      flex: 1;
    }
  }
  .col {
    flex: 3;
  }
  & span {
    font-size: 11px !important;
  }

  .ant-slider {
    margin: 0 20px;
  }

  .filter-lomo {
    filter: hue-rotate(40deg) contrast(1.2);
  }

  .filter-name {
    display: block;
    text-align: center;
    text-transform: capitalize;
  }

  .filter-icon {
    display: flex;
    border: 2px solid #fff;
    background: cornflowerblue;
    width: 60px;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    cursor: pointer;
    transition: 0.2s;

    &.selected {
      border: 2px solid cornflowerblue;
    }
  }
}

.retro {
  filter: sepia(20%) brightness(10%) contrast(130%);
  -webkit-filter: sepia(20%) brightness(10%) contrast(130%);
}
.backgroundToolbar {
  display: flex !important;
  position: fixed !important;
  bottom: 250px;
}
.toolbar,
.backgroundToolbar {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  position: absolute;
  padding: 2px 5px;
  z-index: 90000;
  box-shadow: 2px 2px 7px -1px #4a4a4a;
  display: none;

  p {
    margin: 0;
  }

  .color-picker {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background: #fff;
    width: 34px;
  }

  .sketch-picker {
    margin-top: 32px;
  }

  .toolbar-action {
    margin-top: 0px;
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .toolbar-icon {
    display: flex;
    align-items: center;
    font-size: 22px;
    padding: 3px;
    height: 32px;

    // select all descendants
    & * {
      pointer-events: none;
    }

    & .ant-input-number {
      & * {
        pointer-events: visible;
      }
    }

    &:hover:not(.inactive) {
      cursor: pointer;
      color: #4480aa;
    }
    &.selected {
      cursor: pointer;
      color: #4480aa;
    }

    &.inactive {
      color: #e5e7eb;
      opacity: 0.5;
      cursor: default;
    }
  }
}

#selection {
  top: 0;
  left: 0;
  z-index: 20000;
  position: absolute;
  background: green;
  opacity: 0.2;
  width: 0;
  height: 0;
}
#layout_scaled_container {
  width: 960px;
  height: 768px;
  .layout-drop {
    display: none;
  }

  .layout-drop-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }
  .layout-drop-middle {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 100%;
    border: 1px solid cyan;
    background: green;
    opacity: 0.3;
    z-index: 10000;
  }

  .layout-drop-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }

  .rotate {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px -1px;
    border: 1px solid #c19bca;
    background: #fff;
    cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='266.7%25' height='156.2%25' x='-75%25' y='-21.9%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3Cpath id='b' d='M1.67 12.67a7.7 7.7 0 0 0 0-9.34L0 5V0h5L3.24 1.76a9.9 9.9 0 0 1 0 12.48L5 16H0v-5l1.67 1.67z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 24V0h24v24z'/%3E%3Cg fill-rule='nonzero' filter='url(%23a)' transform='rotate(-90 9.25 5.25)'%3E%3Cuse fill='%23000' fill-rule='evenodd' xlink:href='%23b'/%3E%3Cpath stroke='%23FFF' d='M1.6 11.9a7.21 7.21 0 0 0 0-7.8L-.5 6.2V-.5h6.7L3.9 1.8a10.4 10.4 0 0 1 0 12.4l2.3 2.3H-.5V9.8l2.1 2.1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
        12 12,
      auto;
    z-index: 30000 !important;
    display: none;
  }

  .resize {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px -1px;
    border: 1px solid #c19bca;
    background: #fff;
    z-index: 40000 !important;
    display: none;
  }

  .group-selection {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: #00d9e1;
    opacity: 0.2;
    position: absolute;
    z-index: 50000 !important;
    transform-origin: 0 0 !important;
    display: none;
  }
  .frame {
    top: 0;
    left: 0;
    border: 10px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40000 !important;
    transform-origin: 0 0 !important;
    pointer-events: none;
    display: block;
  }
  .border,
  .active-border {
    top: 0;
    left: 0;
    border: 3px solid #00d9e1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40000 !important;
    transform-origin: 0 0 !important;
    pointer-events: none;
    display: none;
  }

  .page-border {
    top: 0;
    left: 0;
    border: 10px solid #4a4a4a;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40000 !important;
    transform-origin: 0 0 !important;
    pointer-events: none;
    display: block;
  }

  .background-drop {
    display: none;
  }

  .background-drop-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }

  .background-drop-middle {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 100%;
    border: 1px solid cyan;
    background: green;
    opacity: 0.3;
    z-index: 10000;
  }

  .background-drop-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }
  .center-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(78, 90, 92, 0.5);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5), 0 0 0 43px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    cursor: grab;
    z-index: 1000;

    .drag-icon {
      width: 30px;
      height: 30px;
      color: rgb(255, 255, 255);
      pointer-events: none;
    }
  }

  .center-circle-left {
    left: calc(25% - 75px / 2);
    display: none;
  }

  .center-circle-middle {
    display: none;
  }

  .center-circle-right {
    right: calc(25% - 75px / 2);
    display: none;
  }
}
#scaled_container {
  width: 14in;
  height: 11in;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: transparent;
    z-index: 1;
    pointer-events: none;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.9);
  }
  .layout-drop {
    display: none;
  }
  .layout-drop-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }
  .layout-drop-middle {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 100%;
    border: 1px solid cyan;
    background: green;
    opacity: 0.3;
    z-index: 10000;
  }

  .layout-drop-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }

  .rotate {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px -1px;
    border: 1px solid #c19bca;
    background: #fff;
    cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24'%3E%3Cdefs%3E%3Cfilter id='a' width='266.7%25' height='156.2%25' x='-75%25' y='-21.9%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dy='1' in='SourceAlpha' result='shadowOffsetOuter1'/%3E%3CfeGaussianBlur in='shadowOffsetOuter1' result='shadowBlurOuter1' stdDeviation='1'/%3E%3CfeColorMatrix in='shadowBlurOuter1' result='shadowMatrixOuter1' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeMerge%3E%3CfeMergeNode in='shadowMatrixOuter1'/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3Cpath id='b' d='M1.67 12.67a7.7 7.7 0 0 0 0-9.34L0 5V0h5L3.24 1.76a9.9 9.9 0 0 1 0 12.48L5 16H0v-5l1.67 1.67z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 24V0h24v24z'/%3E%3Cg fill-rule='nonzero' filter='url(%23a)' transform='rotate(-90 9.25 5.25)'%3E%3Cuse fill='%23000' fill-rule='evenodd' xlink:href='%23b'/%3E%3Cpath stroke='%23FFF' d='M1.6 11.9a7.21 7.21 0 0 0 0-7.8L-.5 6.2V-.5h6.7L3.9 1.8a10.4 10.4 0 0 1 0 12.4l2.3 2.3H-.5V9.8l2.1 2.1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
        12 12,
      auto;
    z-index: 30000 !important;
    display: none;
  }

  .resize {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px -1px;
    border: 1px solid #c19bca;
    background: #fff;
    z-index: 40000 !important;
    display: none;
  }

  .group-selection {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: #00d9e1;
    opacity: 0.2;
    position: absolute;
    z-index: 50000 !important;
    transform-origin: 0 0 !important;
    display: none;
  }
  .frame {
    top: 0;
    left: 0;
    border: 10px solid red;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40000 !important;
    transform-origin: 0 0 !important;
    pointer-events: none;
    display: block;
  }
  .border,
  .active-border {
    top: 0;
    left: 0;
    border: 3px solid #00d9e1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40000 !important;
    transform-origin: 0 0 !important;
    pointer-events: none;
    display: none;
  }

  .page-border {
    top: 0;
    left: 0;
    border: 10px solid #4a4a4a;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40000 !important;
    transform-origin: 0 0 !important;
    pointer-events: none;
    display: block;
  }

  .background-drop {
    display: none;
  }

  .background-drop-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }

  .background-drop-middle {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 100%;
    border: 1px solid cyan;
    background: green;
    opacity: 0.3;
    z-index: 10000;
  }

  .background-drop-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border: 1px solid cyan;
    background: cyan;
    opacity: 0.3;
    z-index: 10000;
  }

  .circle-container {
    position: absolute;
    width: calc(50% - 15px);
    top: 0;
    height: 100%;
    &.left {
      left: 0;
    }
    &.middle {
      width: 30px !important;
      left: calc(50% - 15px);
    }
    &.right {
      right: 0;
    }
  }

  .center-circle {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    background-color: rgba(78, 90, 92, 0.5);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5), 0 0 0 43px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    cursor: grab;
    z-index: 1000;

    .drag-icon {
      width: 30px;
      height: 30px;
      color: rgb(255, 255, 255);
      pointer-events: none;
    }
  }

  .center-circle-left {
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .center-circle-middle {
    transform: translate(-50%, -50%);
    display: none;
  }

  .center-circle-right {
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
  }

  .book-spine-cover {
    position: absolute;
    z-index: 50000 !important;
    pointer-events: none;
    left: calc(50% - 15px);
    width: 30px;
    height: 100%;
    background-image: url('../../../../assets/images/spine/cover.png');
  }
  .book-spine {
    position: absolute;
    z-index: 50000 !important;
    pointer-events: none;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.73);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.73);
    left: calc(50% - 1px);
    background-color: rgba(0, 0, 0, 0.5);
    width: 1px;
    height: 98%;
  }
}

#canvas_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .background {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

    img {
      position: relative;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      max-width: unset;
    }
  }

  .background-full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .background-left {
    top: 0;
    left: 0;
    width: 50%;
    min-height: 100%;
    max-height: auto;
    display: none;
  }

  .background-right {
    top: 0;
    right: 0;
    width: 50%;
    min-height: 100%;
    max-height: auto;
    display: none;
  }

  .object {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 200px;
    position: absolute;
    box-sizing: content-box;
    // outline: 3px solid #8a8787;

    .text-container {
      position: relative;
      width: 100%;
      pointer-events: none;

      .autogrow {
        width: 100%;
        // height: 80px; /* line-height + 2 * padding */
      }

      .text {
        width: 100%;
        outline: none;
        word-break: break-word;
        line-height: 40px;
        position: absolute;
        color: #333;
        top: 20px; /* padding */
        left: 20px; /* padding */
        right: 20px; /* padding */
        font-family: Spirax;
        font-size: 40px;
        font-weight: '400';
        text-align: left;
        caret-color: #00d9e1;
      }
    }

    .image-placeholder {
      width: 100%;
      height: 100%;
      border-width: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        max-width: none;
        // height: 100%;
      }

      .background {
        width: 100%;
        height: 100%;
      }

      .status {
        position: absolute;
        font-size: 48px;
        color: #e2574c;
        bottom: 0;
        margin-bottom: 5%;
        pointer-events: auto;
      }

      .plus {
        font-size: 90px;
        color: #fff;
      }

      .image-center {
        position: absolute;
        border-radius: 50%;
        background: rgba(78, 90, 92, 0.4);
        box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%), 0 0 0 43px rgb(0 0 0 / 15%) inset;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        z-index: 1000;
        display: none;
        visibility: hidden;
        pointer-events: auto;
        cursor: grab;

        .drag-icon {
          width: 100px;
          height: 100px;
          color: rgb(255, 255, 255);
          pointer-events: none;
        }
      }
    }

    .shape {
      width: 100%;
      height: 100%;
      pointer-events: none;
      .square {
        width: 100%;
        height: 100%;
        background: cyan;
        border-radius: 0%;
      }
      .eclipse {
        width: 100%;
        height: 100%;
        background: cyan;
        border-radius: 50%;
      }
    }
  }
}

.side-buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20000;
  width: 100%;
  pointer-events: none;

  .item {
    pointer-events: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    border-radius: 2px;
    margin: 10px;
    padding: 5px 0px;
    background: #fff;
    transition: 0.2s ease-out;
    text-align: center;
    cursor: pointer;
    color: #333;

    &:hover {
      transform: scale(1.05);
      background: #5caaf3;
      color: #fff;
    }
  }
}
