.value_title {
  font-weight: bold;
}

.button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  padding: 25px 40px !important;
  margin: 10px;
  width: 100%;
  background-color: #fd6d64;
  //   background-color: #fd6d64;
  //     background: -webkit-linear-gradient(
  // 180deg
  // , #e52d27 4.08%, #fd6d64 96.6%);
  color: #fff;
  line-height: 0px;
  font-weight: 500;
  border: 2px solid;
  border-top-color: initial;
  border-top-style: solid;
  border-top-width: 2px;
  border-right-color: initial;
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: initial;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left-color: initial;
  border-left-style: solid;
  border-left-width: 2px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
